<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-deeplinks" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>DeeplinkWrapper</name>

	<js-module name="deeplinkPlugin" src="www/DeeplinkWrapper.js">
		<clobbers target="deeplinkPlugin" />
	</js-module>

	 <preference name="URL_SCHEME"  default="dgapp" />

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="DeeplinkPlugin">
				<param name="ios-package" value="DeeplinkPlugin" />
			</feature>
		</config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
              <string>$URL_SCHEME</string>
          </array>
        </dict>
      </array>
    </config-file>
	
		<header-file src="src/ios/DeeplinkPlugin.h" />
		<source-file src="src/ios/DeeplinkPlugin.m" />
		<header-file src="src/ios/AppDelegate+DeeplinkPlugin.h" />
		<source-file src="src/ios/AppDelegate+DeeplinkPlugin.m" />
	</platform>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="DeeplinkPlugin">
				<param name="android-package" value="deeplinks.DeeplinkPlugin" />
			</feature>
		</config-file>

		<config-file parent="application/activity" target="AndroidManifest.xml">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="$URL_SCHEME"/>
			</intent-filter>
		</config-file>
		<source-file src="src/android/DeeplinkPlugin.java" target-dir="src/deeplinks" />
	</platform>
</plugin>
